body {
	margin: 0px;
	height: 100%;
	overflow: hidden;
}

nav {
	width: 100%;
	height: 10%;
	position: absolute;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #436d8c;
}

article , article > div {
	width: 100%;
	height: 90%;
	position: absolute;
	bottom: 0px;
}
article > div {
	height: 100%;
}

nav > div {
	max-width: 20%;
	min-width: 100px;
	height: 40px;
	margin: 80px;
	background-color: #806FA5;
	border-radius: 15px;
	text-align: center;
	line-height: 5px;
	color: #380B61;
}
nav > div:hover {
	background-color: #A396C2;
}

img#logo {
	max-width: 60px;
	max-height: 60px;
	position: absolute;
	left: 0px;
}

#resultat {
	height: 50px;
	width: 200px;
	position: absolute;
	top: 50%;
	display: grid;
	justify-content: center;
}

table, td {
	width: 100%;
	height: 100%;
	color:white;
}

th {
	height: 30px;
	font-size:40px;
	color: white;
}

table {
	height:500px;
	margin-left: auto; 
	margin-right: auto;
	table-layout: fixed;
 }

thead, tfoot {
	background-color: #333;
	color: #fff;
}

#texte_regles {
	font-size: 25px;
	margin-left: 10px;
}

#texte_regles > h2 , #texte_regles > p {
	margin-left: 20px;
}

#demo {
	display: flex;
	justify-content: center;
}




#f_regles {
	visibility: visible;
	background-image: url("../images/fond_regles.jpg");
	background-size: cover;
	font-family: serif;
}
#f_jeu {
	background-image: url("../images/fond_jeu.jpg");
	background-size: cover;
	visibility: hidden;
}
#f_parametres {
	background-image: url("../images/fond_du_accueil.jpg");
	visibility: hidden;
}




#entrees {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 0px;
	height: 100%;
	width: 33%;
	color: #58D3F7;
}

#espace_jeu {
	position: sticky;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 33%;
	background-image: url("../images/fond_espace_jeu.gif") ;
	background-size: cover;
	border-radius: 10px;
	margin: auto;
}

#banniere {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 14%;
	text-align: center;
	align-items: center;
	background-color: #708bb8;
	border-radius: 10px;
	margin-left: 10px;
	padding-top: 30px;
	color: white;
	font-family: monospace;
}

#commencer {
	position: absolute;
	top: 30%;
	width: fit-content;
	padding: 5px 30px;
	margin: auto;
	border-radius: 20px;
	border-color: black;
	background-color: #2E2E2E;
}

#commencer:hover {
	background-color: #585858;
}




#grp_boss {
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
}
#boss {
	width: 550px;
	height: 225px;
}

#operation_boss {
	position: absolute;
	top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: royalblue;
}
#operation_boss > p {
	margin: 30px;
}
#grp_gauche , #grp_centre , #grp_droite {
	position: absolute;
	text-align: center;
	visibility: hidden;
	color: white;
	width: 70px;
	height: 70px;
}
#ennemi_gauche , #ennemi_centre , #ennemi_droite , .ennemi_demo {
	width: 70px;
	height: 70px;
}
.ennemi_demo {
	margin: 0px 20px;
}
#operation_gauche , #operation_centre , #operation_droite {
	position: absolute;
	z-index: 10;
	top: 0px;
	width: 70px;
}
#grp_gauche {
	left: 5%;
}
#grp_droite {
	right: 5%;
}

#joueur {
	visibility: hidden;
	position: absolute;
	top: 500px;
	height:91px;
	width:70px;
}

#joueur_demo {
	position: absolute;
	top: 500px;
	height: 91px;
	width: 70px;
}

#score {
	position: absolute;
	top: 0px;
	width: 33.33%;
	height: 16%;
	text-align: center;
	align-items: center;
	background-color: #708bb8;
	border-radius: 10px;
	margin-left: 66.66%;
	color: white;
}
#hi_score {
	position: absolute;
	top: 20%;
	width: 33.33%;
	height: 16%;
	text-align: center;
	align-items: center;
	background-color: #b8708b;
	border-radius: 10px;
	margin-left: 66.66%;
	color: white;
}

#myRange {
	position: absolute;
	top: 100px;
	left: 200px;
	width: 400px;
}

#boutons {
	height: 100px;
	width: 100px;

}

#f_parametres{
	position: absolute;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
/* définit la taille des boutons */
#f_parametres > div {
	max-width: 20%;
	min-width: 100px;
	height: 40px;
	margin: auto;
	background-color: #F5F6CE;
	border-radius: 15px;
	text-align: center;
	color: #380B61;
}
#f_parametres > div:hover {
	background-color: #A396C2;
}



